.btn{
	padding-top: 10px;
	padding-bottom: 10px;
	
	padding-left: 12px;
	padding-right: 12px;
	
	}
	
.btn-primary{
	background-color:blue;
	color:white;
	border-color:black;
	border-radius: 10px;
	
	}
	
.btn-clearform{
	background-color:gray;
	color:white;
	border-color:black;
	border-radius: 10px;
	
	}

.btn-success{
	background-color:green;
	color:white;
	border-color:black;
	border-radius: 10px;
	
	}
	
.btn-danger{
	background-color:red;
	color:white;
	border-color:black;
	border-radius: 10px;
	
	}
	
.btn-warning{
	background-color:yellow;
	color:black;
	border-color:red;
	border-radius: 10px;
	
	}
	
.btn-dark{
	background-color:black;
	color:white;
	border-color:white;
	border-radius: 10px;
	
	}
	
.btn-1{
	background-color:blue;
	color:white;
	border-color:black;
	border-radius: 10px;
	
	}
	
.btn-2{
	background-color:#f5deb3;
	color:black;
	border-color:gray;
	border-radius: 10px;
	
	}
	
.btn-3{
	background-color:red;
	color:white;
	border-color:red;
	border-radius: 10px;
	
	}
	
.btn-4{
	background-color:#f5f5f5;
	color:blue;
	border-color:black;
	border-radius: 10px;
	
	}